* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



main {
    max-width: 1440px;
    margin: 70px auto;

}

.teams-container {
    display: flex;
    align-items: center;
    padding: 0 240px;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.Quick-list {
    color: #727272;
    font-weight: 500;
}

.of-Our {
    color: #131313;
    font-weight: 700;
}

.Features {
    color: #FF900E;
    font-weight: 700;
}
.card-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 260px;
   

}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-stats{
    font-size: 2.8rem;
    color:#424242 ;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 1.6rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}
.Facts-div{
    padding: 0px 240px;
}




/* responcive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {

    header,
    main {
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-container {
        flex-direction: column;
        padding: 0px 0px;
    }
    .Facts-div{
        padding: 0px 0px;
    }
    .card-container{
        flex-direction: column;
        padding: 0px 0px;
    }

}

/* tablet or medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    main {
        padding: 0px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}